<nav class="container">
     <ul class="pagination">
          <li class="page-item disabled">
               {% if page.has_previous %}
               <a href="?page={{ page.previous_page_number }}"><button class="btn btn-primary">Previous</button></a>
               {% endif %}
          </li>
          <span class="current">
               {{ page.number }} of {{ page.paginator.num_pages }}.
          </span>
          <li class="page-item">
               {% if page.has_next %}
               <a href="?page={{ page.next_page_number }}"><button class="btn btn-primary">Next</button></a>
               {% endif %}
          </li>
     </ul>
</nav>